@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
  font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
}

body {
  background: #0a0a0a;
  color: #fff;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.inner {
  font-size: 3em;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }

  #wrapper {
    width: 100%;
    min-width: 375px;
    margin: 0 auto;
    padding: 0;
  }
}
